// app global css in SCSS form
.iphone-bottom-notch {
  padding-bottom: env(safe-area-inset-bottom);
}
.rounded-borders {
  border-radius: 12px !important;
}

.bg-dark-header {
  background: #253037 !important;
}
.card-center {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px !important;
}
.user-card {
  width: 390px;
}
