// app global css in SCSS form
.iphone-bottom-notch {
  padding-bottom: env(safe-area-inset-bottom);
}
.rounded-borders {
  border-radius: 12px !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 5px;
}
